#waves {
  height: 2%;
  width: 100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
  position: absolute;
  top: -198px;
  width: 100vw;
  height: 198px;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  opacity: 1;
}
